<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static%}
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/custom2.css'%}">


</head>

<body>

    <div class="jumbotron vertical-center">
        <div class="row justify-content-center fullwidth">
            <div id="main_items" class="row justify-content-center fullwidth">

                <div class="col" align="center">
                    <button class="btn btn-primary row-top-margin" id="go_to_segmentation_tool_btn">segmentation
                        labeling</button>
                </div>

                <div class="w-100"></div>

                <div class="col" style="text-align: center">
                    <button class="btn btn-primary row-top-margin" id="go_to_bbxviewer_btn">BBX viewer</button>
                </div>

                <div class="w-100"></div>

                <div class="col" style="text-align: center">
                    <button class="btn btn-primary row-top-margin" id="go_to_bboxlabeling_btn">bbox labeling</button>
                </div>


            </div>
        </div>

    </div>



    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/popper.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/mainpage.js'%}"></script>
    

</body>

</html>